{% extends "base.html" %}

{% block announce %}
<style>
    .md-banner__button { display: none !important; }
</style>

<span id="announce-text" style="visibility: hidden;"></span>

<script>
    document.addEventListener("DOMContentLoaded", () => {
      const el = document.getElementById("announce-text");
      if (!el) return;

      const isRu = window.location.pathname.includes('/ru/');

      el.innerHTML = isRu
        ? `⚠️ Эта документация актуальна только для версий <strong>tonutils &lt; 2.0</strong>`
        : `⚠️ This documentation is only relevant for <strong>tonutils &lt; 2.0</strong>`;

      el.style.visibility = "visible";
    });
</script>
{% endblock %}